.menu-dashboard {
    height: 965px;
}
.ant-btn-text.ant-btn-icon-only {
    width: 50px !important;
    height: 50px !important;
    margin: 10px !important;
}

.ant-menu-title-content {
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.main-admins {
    border-radius: 10px;
}
main.ant-layout-content.main-admins.css-dev-only-do-not-override-18iikkb {
    padding: 24px 24px 13px 24px !important;
}
